.addbtn
{
    -fx-background-color: linear-gradient( white 85%, #20c700 100%);
    -fx-text-fill: black;
}

.addbtn:hover
{
    -fx-background-color :  linear-gradient( white 45%, #20c700 100%);
    -fx-text-fill: black;

}

.delbtn
{
    -fx-background-color: linear-gradient( white 85%, #ff3313 100%);
    -fx-text-fill: black;
}

.delbtn:hover 
{
    -fx-background-color :  linear-gradient( white 45%, #ff3313 100%);
    -fx-text-fill: black;
}

.upbtn
{
    -fx-background-color: linear-gradient( white 85%, #fc8b18 100%);
    -fx-text-fill: black;
}

.upbtn:hover 
{
    -fx-background-color :  linear-gradient( white 45%, #fc8b18 100%);
    -fx-text-fill: black;
}

.gbtn
{
    -fx-background-color : transparent;
    -fx-border-color: #192734;
}

.gbtn:hover
{
    -fx-border-color: white;
}

.printbtn
{
    -fx-background-color : #3d7ec4;
}

.printbtn:hover
{
    -fx-background-color :  #30659e;
}

.mainbtn
{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0
}

.mainbtn:hover
{
    -fx-padding: 0
}