.addbtn
{
    -fx-background-color: linear-gradient( white 90%, #20c700 100%);
}

.addbtn:hover 
{
    -fx-background-color :  linear-gradient( white 60%, #20c700 100%);
}

.datebtn
{
    -fx-background-color: #385976;
}

.datebtn:hover 
{
    -fx-background-color :  #0099cc;
}

.delbtn
{
    -fx-background-color: linear-gradient( white 90%, #ff3313 100%);
}

.delbtn:hover 
{
    -fx-background-color :  linear-gradient( white 60%, #ff3313 100%);
}

.upbtn
{
    -fx-background-color: linear-gradient( white 90%, #fc8b18 100%);
}

.upbtn:hover
{
    -fx-background-color :  linear-gradient( white 60%, #fc8b18 100%);
}

.printbtn
{
    -fx-background-color : #0099cc;
}

.printbtn:hover 
{
    -fx-background-color :  #30659e;
}

.mainbtn
{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0
}

.mainbtn:hover 
{
    -fx-padding: 0
}