.button
{
    -fx-background-color : transparent;
}

.back
{
    -fx-background-color : #081018;
}


.home
{ 
    -fx-background-color : #283f54;
}


.menu-item .label {
    -fx-background-color : transparent; 
    -fx-text-fill: white;
}


.context-menu .label{
    -fx-text-fill: black;
}

.statheader
{
    -fx-background-color : #6699cc;
    -fx-background-radius: 5 5 5 5;
}
.statbord
{
    -fx-background-color : #FFFAFA;
    -fx-background-radius: 10 10 5 5;
}

.labels_err
{
    -fx-text-fill: f70d1b;
}

.jfxtextfield{
    -fx-prompt-text-fill: #ffffff;
    -fx-text-inner-color:#ffffff;
}
#statbordPrd
{
    -fx-background-color : #0a94b8;
    -fx-background-radius: 10 10 5 5;
}

#statbordSale
{
    -fx-background-color : #0a94b8;
    -fx-background-radius: 10 10 5 5;
}

#statbordPurchase
{
    -fx-background-color : #0a94b8;
    -fx-background-radius: 10 10 5 5;
}

#statbordDette
{
    -fx-background-color : #0a94b8;
    -fx-background-radius: 10 10 5 5;
}

.img
{
    -fx-background-color : #ffffff;
}